[core]
	# For Windows
		sshCommand = 'C:\\windows\\System32\\OpenSSH\\ssh.exe'
		editor = 'C:\\Users\\d.sprehe\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code' --wait
		autocrlf = true
	# For Msys2
	#	sshCommand = 'C:\\msys64\\usr\\bin\\ssh.exe'
	#	editor = 'C:\\Users\\d.sprehe\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code' --wait
	# autocrlf = true
	# For WSL
	#	sshCommand = /usr/bin/ssh
	#	editor = '/home/brass/.vscode-server/bin/e4c7e7b1d6d060162f4aa7f8225271b67ce1df75/bin/remote-cli/code' --wait
	# For Linux
	#	sshCommand = /usr/bin/ssh
	#	editor = ''
	# For Mac
	#	sshCommand = /usr/bin/ssh
	#	editor = ''
	# For BSD
	#	sshCommand = /usr/bin/ssh
	#	editor = ''
[alias]
	br = branch
	cf = config
	cfg = config --global
	ck = checkout
	cm = commit -m
	cp = cherry-pick
	df = diff HEAD
	dfu = diff
	dfs = diff --staged
	graph = log --graph --decorate --full-diff --stat --patch
	lg = log --oneline --decorate
	mff = merge --ff-only
	mg = merge
	pl = pull
	ps = push
	rb = rebase
	rff = rebase --ff-only
	rs = reset
	st = status --short --branch --untracked-files --show-stash
	stat = status --branch --untracked-files --show-stash
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Church1776
	email = brassmajor@gmail.com
[init]
	defaultBranch = master
[log]
	